.m{
    background-color: rgb(123, 172, 118);
    text-align: center;
}
body{
    display: block;
    margin: 8px;
} h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}
input{
    width: 250px;
    height: 30px;
    border-radius: 35px;
}
button{
    width: 100px;
    border-radius: 30px;
}
p{
    font-size: larger;
    background-color:white;
}